{% load wagtailcore_tags wagtailimages_tags static %}
<div class="carousel w-full">
  <div id="slide1" class="carousel-item relative w-full">
    <img
      src="https://img.daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.webp"
      class="w-full" />
    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide4" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide2" class="carousel-item relative w-full">
    <img
      src="https://img.daisyui.com/images/stock/photo-1609621838510-5ad474b7d25d.webp"
      class="w-full" />
    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide1" class="btn btn-circle">❮</a>
      <a href="#slide3" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide3" class="carousel-item relative w-full">
    <img
      src="https://img.daisyui.com/images/stock/photo-1414694762283-acccc27bca85.webp"
      class="w-full" />
    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide2" class="btn btn-circle">❮</a>
      <a href="#slide4" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide4" class="carousel-item relative w-full">
    <img
      src="https://img.daisyui.com/images/stock/photo-1665553365602-b2fb8e5d1707.webp"
      class="w-full" />
    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide3" class="btn btn-circle">❮</a>
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>


<div id="carousel-{{self.carousel.id}}" class="carousel slide" data-bs-ride="carousel">
  {% if self.carousel.show_indicators %}
  <div class="carousel-indicators">
    {% for item in self.carousel.carousel_slides.all %}
    <button type="button" data-bs-target="#carousel-{{self.carousel.id}}" data-bs-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter1 }}"></button>
    {% endfor %}
  </div>
  {% endif %}
  <div class="carousel-inner">
    {% for item in self.carousel.carousel_slides.all %}
    {% block carousel_slide %}
    <div
      class="carousel-item {% if not item.image %}no-img{% endif %} {% if forloop.counter0 == 0 %}active{% endif %} {{item.custom_css_class}}"
      {% if item.custom_id %}id="#{{item.custom_id}}"{% endif %}
      style="{% if item.background_color %}background-color: {{item.background_color}};{% endif %}">
      {% block carousel_slide_image %}
      {% if item.image %}
      {% image item.image fill-1600x900 format-webp preserve-svg as carouselimage %}
      <img class="d-block w-100" src="{{carouselimage.url}}" alt="{{carouselimage.image.title}}">
      {% endif %}
      {% endblock %}
      <div class="carousel-caption d-none d-md-block">
        {% for block in item.content %}
        {% include_block block %}
        {% endfor %}
      </div>
    </div>
    {% endblock %}
    {% endfor %}
  </div>
  {% if self.carousel.show_controls %}
  <button class="carousel-control-prev" data-bs-target="#carousel-{{self.carousel.id}}" type="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" data-bs-target="#carousel-{{self.carousel.id}}" type="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  {% endif %}
</div>